---
const features = [
  {
    title: "Best Programming Language?",
    description:
      "Vote for your favorite programming language! Is it JavaScript, Python, C++, or something else?",
  },
  {
    title: "Preferred Development Environment",
    description:
      "Do you prefer coding in VSCode, IntelliJ, Vim, or another editor? Cast your vote!",
  },
  {
    title: "Frontend vs Backend",
    description:
      "Which is more important to you as a developer, Frontend or Backend development?",
  },
  {
    title: "Tabs vs Spaces",
    description:
      "The classic debate! Do you use tabs or spaces for indentation in your code?",
  },
  {
    title: "Light Mode vs Dark Mode",
    description:
      "Which theme do you prefer for your development environment, Light Mode or Dark Mode?",
  },
  {
    title: "Best JavaScript Framework",
    description:
      "What's your go-to JavaScript framework? React, Vue, Angular, or something else?",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Featured Polls
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 pb-40">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
