---
import { Picture } from "astro:assets";
import worldImage from "../../public/world.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={worldImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      WorldVote
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      WorldVote is a decentralized platform where your voice matters. Securely create and participate in polls with the power of World ID, ensuring maximum security and authenticity.
      <wbr /> Join a community where your opinions are verified, trusted, and truly count.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href="/createPoll"
        class="bg-black hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded shadow transition duration-300 ease-in-out transform hover:scale-105 inline-flex items-center justify-center">
        Create Poll
      </a>
      <button
        id="openModalBtn"
        class="bg-white hover:bg-gray-300 text-black font-semibold py-2 px-4 rounded shadow transition duration-300 ease-in-out transform hover:scale-105">
        Access Private Poll
      </button>
    </div>
  </div>
</main>

<div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
  <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h3 class="text-2xl leading-6 font-bold text-gray-900 mb-4">Access Private Poll</h3>
        <div class="mt-2">
          <input type="text" id="pollKey" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 py-2 px-3" placeholder="Enter poll key">
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" id="submitKey" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-black text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm transition duration-300 ease-in-out transform hover:scale-105">
          Submit
        </button>
        <button type="button" id="closeModal" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm transition duration-300 ease-in-out transform hover:scale-105">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function setupModal() {
    const modal = document.getElementById('modal');
    const openModalBtn = document.getElementById('openModalBtn');
    const closeModal = document.getElementById('closeModal');
    const submitKey = document.getElementById('submitKey');
    const pollKey = document.getElementById('pollKey') as HTMLInputElement | null;

    if (modal && openModalBtn && closeModal && submitKey && pollKey) {
      openModalBtn.addEventListener('click', () => {
        modal.classList.remove('hidden');
      });

      closeModal.addEventListener('click', () => {
        modal.classList.add('hidden');
      });

      submitKey.addEventListener('click', () => {
        const key = pollKey.value;
        // Here you can add logic to handle the submitted key
        console.log('Submitted key:', key);
        // For now, we'll just close the modal
        modal.classList.add('hidden');
      });
    }
  }

  // Run the setup function when the DOM is fully loaded
  document.addEventListener('DOMContentLoaded', setupModal);
</script>