---
import Container from "../container.astro";
import Link from "../ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ConnectButtonComponent from "@components/ConnectButon.tsx";

const clientId = import.meta.env.THIRDWEB_CLIENT_ID


const menuitems = [
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800 text-2xl">World</span><span
            class="text-slate-500 text-2xl">Vote</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <ConnectButtonComponent clientId={clientId} client:load/>
      </div>
    </div>
  </header>
</Container>
